* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    padding-top: 100px;
}

header {
    max-width: 300px;
    margin: 0 auto;
}

header h1 {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: rgb(159, 121, 70)
}

.container {
    max-width: 300px;
    margin: 0 auto;
}